<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/CMS</property>

        <mapping class="Entity.Memo"/>
        <mapping class="Entity.Plan"/>
        <mapping class="Entity.Major"/>
        <mapping class="Entity.Record"/>
        <mapping class="Entity.Lesson"/>
        <mapping class="Entity.LessonCode"/>
        <mapping class="Entity.MajorLesson"/>
        <mapping class="Entity.CollegeMajor"/>

    </session-factory>
</hibernate-configuration>